body {
  font-family: nanumsquare;
}
.top-nav {
  background-color: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-size: 1.5em;
}
.top-nav ul {
  list-style: none;
}
.top-nav li {
  display: inline;
  padding: 10px;
}
.top-nav a {
  color: white;
  text-decoration: none;
}
.new_signature {
  width: 500px;
  height: 250px;
}
