{% extends "layouts/layout.html" %}

{% block title %}
임원 후보 추천
{% endblock %}

{% block head_add %}
  <link href="/static/css/literallycanvas.css?{% now "U" %}" rel="stylesheet">

  <!-- dependency: React.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-with-addons.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>

  <!-- Literally Canvas -->
  <script src="/static/js/literallycanvas-core.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% endblock %}

{% block content %}
<br>
<h1 class="display-5">공동체IT 4기 임원 후보 추천</h1>
<br>
<div class="container row">
  <div class="col-sm-6 mb-10">
    <h2>후보 등록/추천 현황 <span class="badge bg-primary rounded-pill">{{ candidates.count }}</span></h2>
    <p>후보 이름을 눌러 출마의 뜻과 추천인의 메시지를 확인해보세요</p>

    <div class="accordion" id="accordionExample">
      {% for candidate in candidates %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading_{{candidate}}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{candidate}}" aria-expanded="true" aria-controls="collapse_{{candidate}}">
            <div class="fw-bold">{{ candidate }} <small>{{ candidate.type }}</small></div>
          </button>
        </h2>
        <div id="collapse_{{candidate}}" class="accordion-collapse collapse" aria-labelledby="heading_{{candidate}}" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p class="lead">
              {{ candidate.pledge }}
            </p>

            {% if candidate.recommendation_set.count > 0 %}
              <h3>후보 추천인 <span class="badge {% if candidate.recommendation_count >= 3 %}bg-success{% else %}bg-warning{% endif %} rounded-pill">{{ candidate.recommendation_count }}</span></h3>
              {% for recommendation in candidate.recommendation_set.all %}
              <ul class="list-group">
                <li class="list-group-item">
                  {{recommendation.reason}} / {{recommendation.recommender}}
                </li>
              </ul>
              {% endfor %}
            {% else %}
              <h3>후보 추천인 <span class="badge bg-danger rounded-pill">0</span></h3>
              <ul class="list-group">
                <li class="list-group-item">
                  아직 추천을 받지 못했습니다. 조합원들의 추천을 기다립니다.
                </li>
              </ul>

            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="col-sm-6">
    <h2>등록한 후보를 추천해주세요</h2>
    <p>모든 후보는 최소 3명 이상의 추천을 얻어야 후보로 확정됩니다. 조합 발전을 위해 기여할 뜻을 밝혀주신 분들을 응원하는 의미로 적극 추천을 부탁드립니다! 감사합니다.</p>
    {% if message %}
    <p class="text-success"><strong>{{ message }}</strong></p>
    {% endif %}
    <div class="card border-secondary mb-3">
      <div class="card-header">
        <h3 class="card-title">후보 추천서 작성</h3>
        <div class="alert alert-info" role="alert">
          모든 조합원은 최대 3명의 후보까지 추천하실 수 있습니다 <br>
          추천인 이름이 잘못 쓰여진 경우 등 부적합한 추천은 선관위의 확인으로 무효 처리 될 수 있습니다
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">
          <form id="recommendation_form" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% if form.errors %}
            <ol role="alertdialog">
                {% for error in form.errors %}
                <li role="alert"><strong>{{ error|escape }}</strong> 내용이 잘못 입력됐습니다</li>
                {% endfor %}
            </ol>
            {% endif %}
            <!-- {{ form.as_p|safe }} -->
            {% for field in form %}
            <div class="mb-3 form-floating"> <!-- aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}> -->
              <!-- <div class="col-sm-2"> -->
              <!-- </div> -->
              {{ field }}
              <label for="id_{{ field.name }}">{{ field.label_tag }}</label>
              {% if field.help_text %}
              <p class="help-block">{{ field.help_text|safe }}</p>
              {% endif %}

            </div>
            {% endfor %}
            <p>준비된 서명 이미지가 없으시면 아래에서 서명해주세요</p>
            <div class="new_signature"></div>
            <input type="hidden" id="new_signature_img" name="new_signature_img" />
            <p>
              <button type="submit" id="recommend" class="btn btn-lg btn-primary">추천하기</button>
              <a download="sign.png" id="export_new_sign" class="btn btn-lg btn-secondary">즉석 서명 이미지 저장</a>
            </p>
          </form>
        </p>

      </div>
    </div>

  </div>

</div>

{% endblock %}

{% block javascript_tail %}
  var lc = LC.init(
      document.getElementsByClassName('new_signature')[0],
      {imageURLPrefix: '/static/img', imageSize: {width: 500, height: 250}}
  );
  var drawing_changed = false;
  lc.on('drawingChange', function() {
    drawing_changed = true;
  });

  document.querySelector('a#export_new_sign').addEventListener('click', event => event.target.href = lc.getImage().toDataURL());

  $('#recommend').on('click', function() {
    var recommender = $('#id_recommender');
    if(!checkSpecial(recommender.val())) {
      alert('특수 문자는 허용되지 않습니다. 정확한 이름을 적어주세요');
      recommender.select();
      return false;
    }

    var contact = $('#id_contact');
    var contact_value = contact.val();

    if(!contact_value) {
      alert('전화번호 입력하세요');
      contact.focus();
      return false;
    } else {
      if(!checkSpecial(contact_value)) {
        alert('특수문자는 허용되지 않습니다');
        contact.select();
        return false;
      }
      if(!isPhone(contact_value) && !isMobile(contact_value)) {
        alert('전화번호 형식에 맞지 않습니다. 9~11자의 숫자만 입력해주세요');
        contact.select();
        return false;
      }
    }
    newImg_src = lc.getImage().toDataURL();
    var sign_uploaded = $('#id_signature').val();
    if(!sign_uploaded) {
      if(drawing_changed) {
        $('#new_signature_img').val(newImg_src);
        <!-- document.querySelectorAll("a#export_new_sign")[0].click(); -->
      } else {
        alert('서명 이미지를 업로드하거나 즉석 서명을 해주세요');
        return false;
      }
    }

    if(!confirm($('#id_candidate option:selected').text() + '님을 추천하겠습니까?')) {
      return false;
    }
  });

{% endblock %}
