{% extends "layouts/layout.html" %}

{% block title %}
임원 후보 등록
{% endblock %}

{% block head_add %}
  <link href="/static/css/literallycanvas.css?{% now "U" %}" rel="stylesheet">

  <!-- dependency: React.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-with-addons.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>

  <!-- Literally Canvas -->
  <script src="/static/js/literallycanvas-core.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% endblock %}

{% block content %}
<br>
<h1 class="display-5">공동체IT 임원 후보 등록</h1>
<br>

{% if message %}
<p class="text-success"><strong>{{ message }}</strong></p>
{% endif %}

{% if registration_result %}
<table class="table table-striped table-bordered">
  <tr>
    <td colspan="2" class="text-center"><h3>후보자 등록신청서</h3></td>
  </tr>
  <tr>
    <td>성명</td><td>{{registration_result.candidate_name}}</td>
  </tr>
  <tr>
    <td>주민등록번호</td><td>{{registration_result.resident_number}}</td>
  </tr>
  <tr>
    <td>주소</td><td>{{registration_result.address}}</td>
  </tr>
  <tr>
    <td>임원유형</td><td>{{registration_result.type}}</td>
  </tr>
  <tr>
    <td>출마의 변(공약)</td>
    <td>
      {{registration_result.pledge}}
    </td>
  </tr>
  <tr>
    <td rowspan="2">주요 경력</td><td>{{registration_result.career1}}</td>
  </tr>
  <tr>
    <td>{{registration_result.career2}}</td>
  </tr>
  <tr>
    <td colspan="2" class="text-center">
      본인은 공동체IT사회적협동조합 {{registration_result.type}}로 입후보 하고자 등록합니다.
      <br>
      {{ created_at|date:"Y. m. d." }}
      <br>
      <span class="display-6">후보자 {{registration_result.candidate_name}}</span>
      <img src="{{registration_result.signature.url}}" alt="서명">
      <br>
      <!-- <span class="display-6">선거관리위원장 귀하</span> -->
    </td>
  </tr>

</table>
{% endif %}
<p>
  공동체IT사회적협동조합 제3기 임원 선거 후보 등록기간입니다. 아래 관련근거를 확인하시고 피선거권이 있는 조합원께서는 임원으로서 조합 운영과 발전에 기여해주시기 바랍니다.
  피선거권 여부에 대한 자세한 문의는 조합 선거관리위원회에 문의해주세요
  <ul class="list-unstyled">
    <li>후보 등록 기간: 2021.3.10 ~ 3.13</li>
    <li>
      관련 근거
      <ul>
        <li><a href="https://docs.ictact.kr/docs/constitution/#%EC%A0%9C5%EC%9E%A5-%EC%9E%84%EC%9B%90%EA%B3%BC-%EC%A7%81%EC%9B%90">정관 제5장 임원과 직원</a></li>
        <li><a href="https://docs.ictact.kr/docs/code-of-elections/#%EC%A0%9C10%EC%A1%B0%ED%9B%84%EB%B3%B4%EC%9E%90-%EB%93%B1%EB%A1%9D">선거관리규약 제10조 후보자 등록</a></li>
      </ul>
    </li>
  </ul>

</p>
<form id="recommendation_form" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {% if form.errors %}
  <ol role="alertdialog">
      {% for error in form.errors %}
      <li role="alert"><strong>{{ error|escape }}</strong> 내용이 잘못 입력됐습니다</li>
      {% endfor %}
  </ol>
  {% endif %}
  <!-- {{ form.as_p|safe }} -->
  {# Include the hidden fields #}
  {% for hidden in form.hidden_fields %}
      {{ hidden }}
  {% endfor %}
  {% for field in form.visible_fields %}
  <div class="mb-3 form-floating"> <!-- aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}> -->
    <!-- <div class="col-sm-2"> -->
    <!-- </div> -->
    {{ field }}
    <label for="id_{{ field.name }}">{{ field.label_tag }}</label>
    {% if field.help_text %}
    <p class="help-block">{{ field.help_text|safe }}</p>
    {% endif %}

  </div>
  {% endfor %}
  <p>준비된 서명 이미지가 없으시면 아래에서 서명해주세요</p>
  <div class="new_signature"></div>
  <input type="hidden" id="new_signature_img" name="new_signature_img" />
  <p>
    <button type="submit" id="button_register" class="btn btn-lg btn-primary">등록하기</button>
    <a download="sign.png" id="export_new_sign" class="btn btn-lg btn-secondary">즉석 서명 이미지 저장</a>
  </p>
</form>
{% endblock %}

{% block javascript_tail %}
  var lc = LC.init(
      document.getElementsByClassName('new_signature')[0],
      {imageURLPrefix: '/static/img', imageSize: {width: 500, height: 250}}
  );
  var drawing_changed = false;
  lc.on('drawingChange', function() {
    drawing_changed = true;
  });

  document.querySelector('a#export_new_sign').addEventListener('click', event => event.target.href = lc.getImage().toDataURL());

  $('#button_register').on('click', function() {
    var candidate_name = $('#id_candidate_name');
    if(!checkSpecial(candidate_name.val())) {
      alert('특수 문자는 허용되지 않습니다. 정확한 이름을 적어주세요');
      candidate_name.select();
      return false;
    }

    var contact = $('#id_contact');
    var contact_value = contact.val();

    if(!contact_value) {
      alert('전화번호 입력하세요');
      contact.focus();
      return false;
    } else {
      if(!checkSpecial(contact_value)) {
        alert('특수문자는 허용되지 않습니다');
        contact.select();
        return false;
      }
      if(!isPhone(contact_value) && !isMobile(contact_value)) {
        alert('전화번호 형식에 맞지 않습니다. 9~11자의 숫자만 입력해주세요');
        contact.select();
        return false;
      }
    }
    newImg_src = lc.getImage().toDataURL();
    var sign_uploaded = $('#id_signature').val();
    if(!sign_uploaded) {
      if(drawing_changed) {
        $('#new_signature_img').val(newImg_src);
        document.querySelectorAll("a#export_new_sign")[0].click();
      } else {
        alert('서명 이미지를 업로드하거나 즉석 서명을 해주세요');
        return false;
      }
    }
    if(!confirm('임원 후보 등록을 신청하겠습니까?')) return false;
  });

{% endblock %}
